:root {
  --color-primary: #6200ee;
  --color-primary-variant: #3700b3;
  --color-secondary: #03dac6;
  --color-secondary-variant: #018786;
  --color-background: #ffffff;
  --color-surface: #ffffff;
  --color-error: #b00020;
  --color-on-primary: #ffffff;
  --color-on-secondary: #000000;
  --color-on-background: #000000;
  --color-on-surface: #000000;
  --color-on-error: #ffffff;
}

:root[theme="dark"] {
  --color-primary: #bb86fc;
  --color-primary-variant: #3700b3;
  --color-secondary: #03dac6;
  --color-secondary-variant: #03dac6;
  --color-background: #121212;
  --color-surface: #242526;
  --color-error: #cf6679;
  --color-on-primary: #000000;
  --color-on-secondary: #000000;
  --color-on-background: #ffffff;
  --color-on-surface: #ffffff;
  --color-on-error: #000000;
}

.App {
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  color: var(--color-on-background);
}

html {
  height: 100vh;
}

body,
#root,
.App {
  min-height: 100vh;
}

header {
  margin: 0;
  padding: 0.67em 0 0.67em 10%;
  background: var(--color-primary);

  span {
    color: var(--color-on-primary);
  }
}

footer {
  flex-shrink: 0;
  background: var(--color-primary);
}

h1,
h6 {
  margin: 0;
  color: var(--color-on-primary);
}

h4 {
  color: var(--color-on-background);
}

a {
  color: var(--color-on-primary);
}

.content {
  flex: 1 0 auto;
}

.parameters {
  margin-left: 25%;
}

.results {
  margin: 0 10% 0;
}

#searchText {
  width: 50%;
}

th.bordered,
td.bordered {
  border-bottom: 1px solid;
  border-right: 1px solid;
}

table.bordered {
  border-spacing: 0;
  border-left: 1px solid;
  color: var(--color-on-surface);
  border-color: var(--color-on-surface);
  background-color: var(--color-surface);
}

th.bordered {
  border-top: 1px solid;
  position: sticky;
  top: 0;
  background: var(--color-primary);
  cursor: pointer;
  color: var(--color-on-primary);
  border-color: var(--color-on-primary);
}

td.bordered {
  padding: 10px;
}

tr.bordered {
  cursor: pointer;
}

td.expand {
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding: 15px;
}

.hidden {
  display: none;
}

#tableContainer {
  max-height: 800px;
  overflow-y: auto;
  margin-bottom: 50px;
}

th {
  height: 30px;
}

th,
td {
  text-align: left;
  vertical-align: middle;
  padding: 5px;
  width: auto;
}

.descendingSort:after {
  content: "\23F6"; /* Unicode character for upside down triangle */
}

.ascendingSort:after {
  content: "\23F7"; /* Unicode character for rightside up triangle */
}

.collapsible {
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
  background-color: var(--color-background);
  border: none;
  outline: none;
  font-size: 15px;
  color: var(--color-on-background);
}

.collapsible:after {
  content: "\FF0B"; /* Unicode character for "plus" sign (+) */
  float: left;
}

.active:after {
  content: "\FF0D"; /* Unicode character for "minus" sign (-) */
}

.themeSwitchInput,
.themeSwitchLabel {
  position: absolute;
  right: 14px;
  top: 14px;
}

.themeSwitchInput {
  opacity: 0;
}

// slider container
.themeSwitchLabel {
  width: 60px;
  height: 34px;
  border-radius: 34px;
  text-align: center;
  background-color: var(--color-background);

  // slider circle
  span {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
  }

  span::after {
    position: absolute;
    bottom: calc(100% + 15px);
    left: 5px;
    width: 24px;
    height: 24px;
    content: "";
    border-radius: 50%;
    background-color: var(--color-secondary);
  }
}

.themeSwitchInput:checked ~ .themeSwitchLabel {
  background-color: var(--color-background);

  span::after {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}

.tooltip + .tooltipText {
  visibility: hidden;
  width: 120px;
  text-align: right;
  position: absolute;
  right: 78px;
  top: 20px;
}

.tooltip:hover + .tooltipText {
  visibility: visible;
}