/*.App {
  text-align: center;
}*/

label.checkbox {
  margin-right: 10px;
}

h4.parameterLabel {
  text-align: left;
  margin-left: 25%;
  margin-bottom: 10px;
}

#searchText {
  width: 30%;
  margin-left: 25%;
}

th.bordered, td.bordered {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

table.bordered {
  border-spacing: 0;
  border-left: 1px solid black;
}

th.bordered {
  border-top: 1px solid black;
  position: sticky;
  top: 0;
  background-color: white;
  cursor: pointer;
}

#tableContainer {
  max-height: 500px;
  overflow-y: auto;
}

table.parameters {
  margin-left: 25%;
}

th {
  height: 30px;
}

th, td {
  text-align: left;
  vertical-align: middle;
  padding: 5px;
}

.config {
  margin-left: 25%;
  text-align: left;
}

.results {
  margin-left: 10%;
  margin-right: 10%;
}

.descendingSort:after {
    content: '\23F6'; /* Unicode character for upside down triangle */
}

.ascendingSort:after {
    content: '\23F7'; /* Unicode character for rightside up triangle */
}

.collapsible {
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
  background-color: white;
  border: none;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: '\FF0B'; /* Unicode character for "plus" sign (+) */
  float: left;
}

.active:after {
  content: "\FF0D"; /* Unicode character for "minus" sign (-) */
}

.ReactCollapse--collapse {
  transition: height 500ms;
  content: center;
  margin-left: 25%;
  margin-right: 25%;
}

/*
.ReactCollapse--content {

}
*/