:root {
  --mainColor: lightgrey;
}

.App {
  background: var(--mainColor);
}

html > body > #root > div {
  height: 100%; // todo make it so the footer is at the bottom of the page always. I think the content needs to expand to at least fill the page
}

header {
  margin: 0;
  padding: .67em 0 .67em 25%;
  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    )
    var(--mainColor);
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    )
    var(--mainColor);
}

h1,
h6 {
  margin: 0;
}

.content {
  flex: 1 0 auto;
}

.parameters {
  margin-left: 25%;
}

.results {
  margin: 0 10% 0;
}

#searchText {
  width: 50%;
}

th.bordered,
td.bordered {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

table.bordered {
  border-spacing: 0;
  border-left: 1px solid black;
}

th.bordered {
  border-top: 1px solid black;
  position: sticky;
  top: 0;
  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    )
    var(--mainColor);
  cursor: pointer;
}

td.bordered {
  padding: 10px;
}

tr.bordered {
  cursor: pointer;
}

td.expand {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px;
}

.hidden {
  display: none;
}

#tableContainer {
  max-height: 800px;
  overflow-y: auto;
  margin-bottom: 50px;
}

th {
  height: 30px;
}

th,
td {
  text-align: left;
  vertical-align: middle;
  padding: 5px;
  width: auto;
}

.descendingSort:after {
    content: '\23F6'; /* Unicode character for upside down triangle */
}

.ascendingSort:after {
    content: '\23F7'; /* Unicode character for rightside up triangle */
}

.collapsible {
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
  background-color: var(--mainColor);
  border: none;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: '\FF0B'; /* Unicode character for "plus" sign (+) */
  float: left;
}

.active:after {
  content: "\FF0D"; /* Unicode character for "minus" sign (-) */
}