.App {
  text-align: center;
}

label.CheckboxLabel {
  margin-right: 10px;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin-left: 50px;
  margin-right: 50px;
}

th {
  height: 30px;
}

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}