.App {
  text-align: center;
}

label.checkbox {
  margin-right: 10px;
}

h4.parameterLabel {
  text-align: left;
  margin-left: 25%;
  margin-bottom: 10px;
}

table.bordered, th.bordered, td.bordered {
  border: 1px solid black;
}

table.bordered {
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  height: 30px;
}

th, td {
  text-align: left;
  vertical-align: middle;
  padding: 5px;
}

.config {
  margin-left: 25%;
  text-align: left;
}

.blob {
  padding: 15px;
}

.results {
  margin-left: 10%;
  margin-right: 10%;
}

.collapsible {
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
  background-color: white;
  padding: 18px;
  border: none;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  float: left;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.ReactCollapse--collapse {
  border: 1px solid black;
  border-radius: 10px;
  transition: height 500ms;
  content: center;
  margin-left: 25%;
  margin-right: 25%;
}

/*
.ReactCollapse--content {

}
*/