:root {
  --mainColor: lightgrey;
}

:root[theme='dark'] {
  --mainColor: darkgrey;
}

.App {
  background: var(--mainColor);
  display: flex;
  flex-direction: column;
}

html {
  height: 100vh;
}

body,
#root,
.App {
  min-height: 100vh;
}

header {
  margin: 0;
  padding: .67em 0 .67em 10%;
  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    )
    var(--mainColor);
}

footer {
  flex-shrink: 0;
  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    )
    var(--mainColor);
}

h1,
h6 {
  margin: 0;
}

.content {
  flex: 1 0 auto;
}

.parameters {
  margin-left: 25%;
}

.results {
  margin: 0 10% 0;
}

#searchText {
  width: 50%;
}

th.bordered,
td.bordered {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

table.bordered {
  border-spacing: 0;
  border-left: 1px solid black;
}

th.bordered {
  border-top: 1px solid black;
  position: sticky;
  top: 0;
  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    )
    var(--mainColor);
  cursor: pointer;
}

td.bordered {
  padding: 10px;
}

tr.bordered {
  cursor: pointer;
}

td.expand {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px;
}

.hidden {
  display: none;
}

#tableContainer {
  max-height: 800px;
  overflow-y: auto;
  margin-bottom: 50px;
}

th {
  height: 30px;
}

th,
td {
  text-align: left;
  vertical-align: middle;
  padding: 5px;
  width: auto;
}

.descendingSort:after {
    content: '\23F6'; /* Unicode character for upside down triangle */
}

.ascendingSort:after {
    content: '\23F7'; /* Unicode character for rightside up triangle */
}

.collapsible {
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
  background-color: var(--mainColor);
  border: none;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: '\FF0B'; /* Unicode character for "plus" sign (+) */
  float: left;
}

.active:after {
  content: "\FF0D"; /* Unicode character for "minus" sign (-) */
}

.themeSwitchInput,
.themeSwitchLabel {
	position: absolute;
    right: 30px;
    top: 10px;
}

.themeSwitchInput {
	opacity: 0;
}

// slider container
.themeSwitchLabel {
	width: 60px;
	height: 34px;
	border-radius: 34px;
	text-align: center;
	background-color: slateGray;

    // slider circle
	span {
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		width: 100%;
	}

    span::after {
		position: absolute;
		bottom: calc(100% + 15px);
		left: 5px;
		width: 24px;
		height: 24px;
		content: '';
		border-radius: 50%;
		background-color: lightBlue;
	}
}

.themeLabel {
    position: absolute;
    right: 10px;
    top: calc(10px + 34px);
}

.themeSwitchInput:checked ~ .themeSwitchLabel {
		background-color: lightSlateGray;

	span::after {
		-webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
	}
}